*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-color: gray;
}

.bg-azul{
    background-color: #141fbe;

}

.c-blanco{
    color: white;
}

.hover_sec:hover{
    color: #FFC107 ;
}
.btn-animado:hover{
    border: 1px solid #8011f2;
    background-color: white;
    color:#8011f2;
    transition: 0.2s ease-in-out;
}

.justify{
    text-align: justify;
}